body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 2em;
    color: #fa6533;
}

hr {
    height: 1px;
    background-color: darkblue;
    border: solid;
    color: darkblue;
}

img {
    border-radius: 5%;
    margin: 15px;
    float: left;
    opacity: 0.5;
}

a:hover {
    box-shadow: 10px;
}