body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 2em;
    color: #fa6533;
}

a:link {
    color: #00293d;
    text-decoration: none;
}

a:visited {
    color: #00293d;
    text-decoration: underline;
}

a:hover {
    color: #fa6533;
}

div {
    padding: 15px 0px 15px 0px;
}
